// Import all of Bootstrap's CSS
@import "../../node_modules/bootstrap/scss/bootstrap";
@import '../../node_modules/react-date-range/dist/styles.css'; // main css file
@import '../../node_modules/react-date-range/dist/theme/default.css'; // theme css file

#title {
  text-align: center;
}

body {
  padding: 5px 15px 60px 15px;
  background-color: lightblue;
}

#main-app {
  background-color: aliceblue;
}

.line-chart {
  height: 400px;
}

.data-container {
  max-height: 400px;
  overflow: scroll;
  padding: 0 15px 25px 15px;
}

.data-title {
  position: sticky;
  top: 0;
  background-color: aliceblue;
  width: 100%
}

.user-page {
  padding: 5px 10px 25px 10px;
}
